<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/Udemy">
        <classes>
            <class name="Demo.ErrorValidation">
            <methods>
                <include name="startUp"/>
            </methods>
            </class>
            <class name="Demo.StandAloneTest">
                <methods>
                    <include name="startUp"/>
                </methods>
            </class>
            <class name="Demo.SubmitOrderTest">
                <methods>
                    <include name="goToOrdersPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>